@import "src/style/common";

$widthOffset: ($margin + 40) / 2;

.translationWords {

    &:last-child {
        margin-bottom: $margin;
    }

    & > div {
        float: left;
        margin: 0;
    }

    .leftWord,
    .rightWord {
        width: calc(50% - #{$widthOffset});
    }

    .rightWord {
        margin: 0 $half_margin;
    }

    .removeWord {
        width: 40px;
    }

    &::after,
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}