{
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  },
  "ConnectionStrings": {
    "LearnOurLanguageContext": "Server=localhost;Database=LearnOurLanguage;Trusted_Connection=True;MultipleActiveResultSets=true;"
  } 
}
