@import "src/style/common";

img {
    margin: 0 auto;
}

.image  {
    transition: box-shadow .5s ease-out;
    text-align: center;
    cursor: pointer;
    background: rgba(255, 255,255, 1);
    margin: 0;
    position: relative;
    width: auto;
}

.image.active {
    //transform:scale(2);
    z-index: 1000;
    position: fixed;
    box-shadow: 0 0 300px $shadow;
    font-size: 2em;

    @media (min-width: 769px) {
        width: 700px;
        margin: -300px 0 0 -350px;
        top: 50%;
        left: 50%;
    }

    @media (max-width: 768px) {
        width: 96%;
        left: 2%;
        top: 10%;
    }
}

.title {
    font-family: 'Life Savers', cursive;
    font-size: 50px;
    font-weight: 600;
    color: $home_title_color;
    text-shadow: 0 0 10px $home_title_shadow;
    margin: $margin 0 (1.5 * $margin);
}

.header {
    background: $home_header_background;
    background: url('/assets/world_map.png') center 0 no-repeat;

    & > div {
        background: rgba(255, 255,255, .8);
        overflow: auto;
        min-height: 600px;
    }
}

.content {
    margin: 50px auto;
}

.boxImg {
    box-shadow: none;
    margin: 0;
    padding: $half_margin;

    h2 {
        margin: $half-margin;
    }
    .inner {
        padding: $half-margin;
        border-radius: 6px;
        box-shadow: 0px 0px 5px 1px $shadow;

        p {
            height: 2em; // dwie linijki tekstu
        }
    }
}

.nav-action {
    text-align: center;
    div > div {
        padding: $margin;
        padding-bottom: 0;
    }

    a {
        font-size: 20px;
        padding: 10px 20px;
    }
}

.centered-text {
    text-align: center;
}

.margin-top {
    margin-top: 100px;
    margin-bottom: 100px;
}

.button {
    display: inline-block;
}

.caption{
    background: rgba(255, 255, 255, 1);

    h3 {
        font-size: 2em;
        color: #333;
        text-shadow: 0 0 10px $home_title_shadow;
        font-weight: bold;
        margin: $half_margin 0;
    }

    p {
        font-size:      1em;
        color: #333;
        text-shadow: 0 0 10px $home_title_shadow;
    }
}