<h2 class="section-title">{{dictionary.name}}</h2>

<div class="exchange-nav">
    <div class="right">
        <button type="button" class="btn btn-link link" (click)="isCollapsed = !isCollapsed">import / eksport słówek</button>
    </div>
    <div class="exchange-panel well well-lg" [collapse]="isCollapsed">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div id="uploadSpace">
                    <form action="/api/DataExchange/Import/{{dictionary.id}}" method="post" enctype="multipart/form-data">
                        <div>
                            <h3><label for="fileChooser" class="btn btn-default">Importuj słówka</label></h3>
                            <input type="file" required id="fileChooser" class="hidden" name="files" (change)="sendFile($event)" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <label class="btn btn-default" (click)="exportDictionary()">Eksportuj słówka</label>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="col-xs-12" id="common_col">
        <h3>Szczegóły:</h3>
        <div class="col-xs-12">
            <div class="col-xs-6">
                <div>Języki:</div>
            </div>
            <div class="col-xs-6">
                <div>{{dictionary.firstLanguage.name}} - {{dictionary.secondLanguage.name}}</div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-6">
                <div>Typ słownika:</div>
            </div>
            <div class="col-xs-6">
                <div *ngIf="dictionary.isPublic">publiczny</div>
                <div *ngIf="!dictionary.isPublic">prywatny</div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-6">
                <div>Opis:</div>
            </div>
            <div class="col-xs-6">
                <div>{{dictionary.description}}</div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-6">
                <div>Data utworzenia:</div>
            </div>
            <div class="col-xs-6">
                <div>{{dictionary.date | date:"MM.dd.yyyy"}} r.</div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-6">
                <div>Liczba tłumaczeń:</div>
            </div>
            <div class="col-xs-6">
                <div>{{translations.length}}</div>
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <h3>Słówka:</h3>
        <div *ngFor="let translation of translations">
            <div class="wrap row">
                <a routerLinkActive="active">
                    <div class="col-xs-6 col">
                        {{translation.firstLangWord}}
                    </div>
                    <div class="col-xs-6 col">
                        {{translation.secondLangWord}}
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>