@import "common";

#wrap {
   width:600px;
   max-height: 500px;
   a {
            display: block;
            color: $dictionary_link_color;
            background: $dictionary_link_background;
            font-size: 1.3em;

            &:hover,
            &.active {
                text-decoration: none;
                color: $menu_hover_dictionaries;
                background: $dictionary_link_background_hover;
                text-shadow: $shadow;
            }
            #left_col {
   float:left;
   width:300px;
   font-size: 20px;
   background: rgba(255, 255, 255, .65);
    padding: $half_margin;
            margin-bottom: $half_margin;
  
}
#right_col {
   float:right;
   width:300px;
   font-size: 20px;
   background: rgba(255, 255, 255, .65);
    padding: $half_margin;
            margin-bottom: $half_margin;
            
            
}
        }
}
.buttons{
    width: 300px;
    max-height: 500px;
    overflow-y: auto;
    margin-left: 5px;
    & > button{
        width: 97px;
         background: rgba(255, 255, 255, .65);
        padding: $half_margin;
        margin-top: $half_margin;
         &:hover,
            &.active {
                background: #6E6E6E;
                color:#fff;
                }
    }
}
