@import "common";

.wrap {
    a {
        display: block;
        color: $dictionary_link_color;
        background: $dictionary_link_background;
        font-size: 1.3em;

        &:hover,
        &.active {
            text-decoration: none;
            color: $menu_hover_dictionaries;
            background: $dictionary_link_background_hover;
            text-shadow: $shadow;
        }
    }

    .col {
        font-size: 20px;
        background: rgba(255, 255, 255, .65);
        padding-top: $half_margin;
        padding-bottom: $half_margin;
        margin-bottom: $half_margin;
        text-align: center;
    }
}

#common_col{
    font-size: 20px;
    padding: $half_margin;
    margin-bottom: $half_margin;
    background: rgba(255, 255, 255, .65);
    div{
        font-size: 20px;
        padding: 1px;
        margin-bottom: 1px;
    }
}

.exchange-nav {
    label, button {
        &:focus,
        &.active,
        &.active:focus {
            outline: none;
        }
    }
    .link {
        margin: 0 0 $half_margin 0;
        outline: none;
    }

    h3 {
        margin: 0;
    }

    .exchange-panel {
        button, label {
            display: block;
            text-align: center;
            font-size: 18px;
            width: 100%;
            padding: $half_margin;
        }
    }
}