<div class="static-background">

    <div id="userModule" class="container">
        <div class="row">

            <div class="col-xs-12 col-md-4">

                <div class="menu-tiles">
                    <a routerLink="/user">
                        <i class="fa fa-home" aria-hidden="true"></i> Tablica
                    </a>
                    <a routerLink="/user/dictionaries">
                        <i class="fa fa-book" aria-hidden="true"></i> Słowniki
                    </a>
                    <a routerLink="/user/games">
                        <i class="fa fa-trophy" aria-hidden="true"></i> Gry
                    </a>
                    <a routerLink="/user/statistics">
                        <i class="fa fa-pie-chart" aria-hidden="true"></i> Statystyki
                    </a>
                    <a routerLink="/auth/logout">
                        <i class="fa fa-power-off" aria-hidden="true"></i> Wyloguj
                    </a>
                </div>
            </div>

            <div class="col-xs-12 col-md-8">
                <div class="content">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>

</div>