@import "common";

#userModule {
    min-height: 650px;
    margin-top: $margin;
    margin-bottom: $margin;

    .header {
        margin-top: $margin;
    }

    .tile {
        background: rgba(255, 255, 255, .6);
        box-shadow: 1px 1px 3px #555;
    }

    .menu-tiles {
        &.affix {
            position: static;
        }

        a {
            @extend .tile;

            display: block;
            font-size: 36px;
            text-decoration: none;
            color: $text_color;
            line-height: 80px;
            padding: 0 $margin;
            margin: 0 0 $margin;

            i {
                margin-right: $half-margin;
            }
        }

        &.text-color {
            a {
                &:nth-child(1) { &:hover, &.active { i { color: $menu_hover_board; } } }
                &:nth-child(2) { &:hover, &.active { i { color: $menu_hover_dictionaries; } } }
                &:nth-child(3) { &:hover, &.active { i { color: $menu_hover_games; } } }
                &:nth-child(4) { &:hover, &.active { i { color: $menu_hover_statistics; } } }
                &:nth-child(5) { &:hover, &.active { i { color: $menu_hover_logout; } } }
            }
        }
        
        &.background-color {
            a {
                &:hover, &.active { color: #fff; text-shadow: 1px 1px 3px #000; }
                &:nth-child(1) { &:hover, &.active { background: $menu_hover_board; } }
                &:nth-child(2) { &:hover, &.active { background: $menu_hover_dictionaries; } }
                &:nth-child(3) { &:hover, &.active { background: $menu_hover_games; } }
                &:nth-child(4) { &:hover, &.active { background: $menu_hover_statistics; } }
                &:nth-child(5) { &:hover, &.active { background: $menu_hover_logout; } }
            }
        }
    }
}

#userModule.layout-v2 {
    $menu_margin: (80 + $margin);

    position: relative;
    
    .menu-tiles {
        a {
            margin-left: $half-margin;
            margin-right: $half-margin;
            background: rgba(255, 255, 255, .5);
            transition: width .3s, background .3s;
        }
    }

    @media (min-width: 768px) { 
        padding-left: $menu_margin;
        .menu-tiles {
            z-index: 2000;
            position: absolute;
            top: 0;
            left: 0;

            &.affix {
                position: fixed;
                left: auto;
                margin-left: -95px;
                top: $margin;
            }

            a {
                padding: 0;
                margin-left: 0;
                margin-right: 0;
                width: 80px;
                height: 80px;
                overflow-x: hidden;
                text-align: left;

                i {
                    padding: 0 25px 0 25px;
                    margin-right: 0;
                }
                span {
                    display: inline-block;
                    width: 190px;
                    opacity: 0;
                    transition: opacity .3s;
                }
                div {
                    width: 285px;
                }

                &:hover {
                    width: 285px;
                    span {
                        opacity: 1;
                    }
                }
            }
        }
    }
}