@import "src/style/common";

.animation {
    transition: all .3s ease-in-out;

    &.down {
        opacity: 0;
        transform: scale(0);
    }

    &.up {
        opacity: 1;
        transform: scale(1);
    }
}

.legend {
    margin: $margin 0;
    color: $text_gray;

    & > span {
        display: inline-block;
        margin-right: $margin;
    }
}