<h1>Quiz</h1>

<!-- formularz z parametrami gry -->
<div *ngIf="!model">
    <h3>Parametry</h3>
    <form (ngSubmit)="startGame()">
        <div class="form-group">
            <label for="maxNumberOfQuestions">Maksymalna liczba pytań:</label>
            <input [ngModel]="parameters.maxNumberOfQuestions" name="maxNumberOfQuestions" min="3"
                type="number" class="form-control" id="maxNumberOfQuestions" placeholder="liczba pytań">
        </div>
        <div class="form-group">
            <label for="maxNumberOfAnswers">Maksymalna liczba odpowiedzi:</label>
            <input [ngModel]="parameters.maxNumberOfAnswers" name="maxNumberOfAnswers" min="3"
                type="number" class="form-control" id="maxNumberOfAnswers" placeholder="liczba odpowiedzi">
        </div>
        <div class="form-group">
            <label for="maxNumberOfRepeats">Maksymalna liczba powtórzeń:</label>
            <input [ngModel]="parameters.maxNumberOfRepeats" name="maxNumberOfRepeats" min="2"
                type="number" class="form-control" id="maxNumberOfRepeats" placeholder="liczba powtórzeń">
        </div>
        <button type="submit" class="btn btn-primary">rozpocznij grę</button>
    </form>
</div>
<!-- koniec formularza -->

<!-- główna gra -->
<div *ngIf="model && !stats">
    <h3>Gierka</h3>
</div>
<!-- koniec gry -->

<!-- podsumowanie gry -->
<div *ngIf="model && stats">
    <h3>Podsumowanie sesji</h3>
</div>
<!-- koniec gry -->