<div class="row memo">
    <div class="col-xs-12">
        <h1 class="page-title">Memo</h1>
    </div>

    <!-- formularz z parametrami gry -->
    <div *ngIf="!model && !stats" class="col-xs-12 col-md-6 col-md-push-3">
        <h3>Parametry</h3>
        <form (ngSubmit)="startGame()">
            <div class="form-group">
                <label for="dictionaryId">Słownik:</label>
                <select [(ngModel)]="parameters.dictionaryId" required name="dictionaryId" class="form-control" id="dictionaryId" placeholder="wybierz słownik">
                    <option *ngFor="let dictionary of dictionaries" [value]="dictionary.id">
                        {{dictionary.name}}
                    </option>
                </select>
                <!--
                <ng-select [(ngModel)]="selDictionaryList" required name="dictionaryId" [allowClear]="false" [items]="dictionaries" idField="id" textField="name" placeholder="wybierz słownik">
                </ng-select>-->
            </div>
            <div class="form-group">
                <label for="maxNumberOfQuestions">Maksymalna liczba pytań na planszy:</label>
                <input [(ngModel)]="parameters.maxNumberOfQuestions" required name="maxNumberOfQuestions" min="1" type="number" class="form-control"
                    id="maxNumberOfQuestions" placeholder="liczba pytań">
            </div>
            <div class="form-group">
                <label for="numberOfGames">Liczba gier:</label>
                <input [(ngModel)]="parameters.numberOfGames" required name="numberOfGames" min="1" type="number" class="form-control" id="numberOfGames"
                    placeholder="liczba odpowiedzi">
            </div>
            <div class="right">
                <button type="submit" class="btn btn-primary">rozpocznij grę</button>
            </div>
        </form>
    </div>
    <!-- koniec formularza -->

    <!-- główna gra -->
    <div *ngIf="model && !stats" class="game-area col-xs-12 col-md-8 col-md-push-2">

        <div class="row header-info">
            <div class="col-xs-6 left">
                <div class="timer">Pozostały czas: {{elapsedSeconds}}s</div>
            </div>
            <div class="col-xs-6 right">
                <div class="counter">Pytanie {{questionIndex}} z {{questionsCount}}</div>
            </div>
        </div>

        <div class="animation">

            <div class="answers row">
                <div *ngFor="let ans of model.answers" class="col-xs-6 col-md-{{gridSize}}">
                    <div class="answerButton trans-{{ans.translationId}}" (click)="confirmAnswer(ans.translationId, $event)">
                        <div class="front"> </div>
                        <div class="back"> {{ans.word}} </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="legend">
            <span><span class="b">enter</span> - następne pytanie</span>
        </div>

        <div class="nav" *ngIf="showNav">
            <button *ngIf="isNextQuestion()" type="button" class="btn btn-primary right-margin" (click)="nextQuestion()">następne pytanie</button>
            <button type="button" class="btn btn-primary" (click)="endSession(true)">zakończ sesję</button>
        </div>

    </div>
    <!-- koniec gry -->

    <!-- podsumowanie gry -->
    <div *ngIf="!model && stats" class="game-stats col-xs-12 col-md-10 col-md-push-1">
        <h3>Podsumowanie sesji</h3>
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-push-2">
                <canvas baseChart [data]="stats.data" [labels]="stats.labels" [colors]="chartColors" chartType="pie"></canvas>
            </div>
        </div>
    </div>
    <!-- koniec gry -->
</div>