@import "common";
.memo {
    .answerButton {
        transform: rotateY(0deg);
        border: 1px solid #000;
        height: 100px;
        visibility: visible;
        position: relative;
        cursor: pointer;
        margin: $margin 0;

        &.chosen {
            transform: rotateY(180deg);
            pointer-events: none;
        }
        &.correct {
            pointer-events: none;
            background: #3d0;
            transform: rotateY(180deg);
        }
    }
}