<div class="row">
    <div class="col-xs-12">
        <h2 class="section-title">Tworzenie nowego słownika</h2>
        <form (ngSubmit)="updateDictionary()">
            <div class="form-group">
                <label for="name">Nazwa słownika:</label>
                <input [(ngModel)]="dictionary.name" required name="name" min="3" type="text" class="form-control" id="name" [value]="dictionary.name"
                    placeholder="nazwa słownika">
            </div>

            <div class="form-group">
                <label for="firstLanguage">Pierwszy język:</label>
                <select *ngIf="languages" name="firstLanguage" id="firstLanguage" class="form-control" [(ngModel)]="dictionary.firstLanguage.id"
                    required placeholder="wybierz język">
                    <option *ngFor="let language of languages" [value]="language.id">
                        {{language.name}}
                    </option>
                    </select>
            </div>

            <div class="form-group">
                <label for="secondLanguage">Drugi język:</label>
                <select *ngIf="languages" name="secondLanguage" id="secondLanguage" class="form-control" [(ngModel)]="dictionary.secondLanguage.id"
                    required placeholder="wybierz język">
                    <option *ngFor="let language of languages" [value]="language.id">
                        {{language.name}}
                    </option>
                    </select>
            </div>

            <div class="form-group">
                <label for="description">Opis słownika:</label>
                <input [(ngModel)]="dictionary.description" required name="description" min="3" type="text" class="form-control" id="description"
                    [value]="dictionary.description" placeholder="opis słownika">
            </div>

            <div class="form-group">
                <label for="isPublic">Typ słownika:</label>
                <select name="isPublic" id="isPublic" class="form-control" [(ngModel)]="dictionary.isPublic" required placeholder="wybierz język">
                    <option [value]="true">publiczny</option>
                    <option [value]="false">prywatny</option>
                </select>
            </div>

            <div *ngIf="translations.length != 0">
                <label>Słówka:</label>
            </div>

            <div *ngFor="let translation of translations; let i = index;" class="form-group translationWords">
                <div class="leftWord">
                    <input [(ngModel)]="translation.firstLangWord" required name="firstLangWord-{{i}}" min="3" type="text" class="form-control"
                        [value]="translation.firstLangWord" placeholder="słówko">
                </div>
                <div class="rightWord">
                    <input [(ngModel)]="translation.secondLangWord" required name="secondLangWord-{{i}}" min="3" type="text" class="form-control"
                        [value]="translation.secondLangWord" placeholder="tłumaczenie">
                </div>
                <div class="removeWord">
                    <a type="button" (click)="deleteTranslation(i)" class="btn btn-default">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                </div>
            </div>

            <!-- do poprawki -> jakas grupa button albo cos -->
            <div class="right form-group">
                <a type="button" (click)="addNewTranslation()" class="btn btn-primary">Nowe słówko</a>
            </div>

            <div class="right form-group" *ngIf="dictionary.parentDictionaryId > 0">
                <a type="button" (click)="updateFromParentDictionary()" class="btn btn-primary">Aktualizuj (ze słownika publicznego)</a>
            </div>

            <div class="right form-group">
                <button type="submit" class="btn btn-primary">Zapisz</button>
            </div>
        </form>
    </div>
</div>