<div class="login-box register-box">
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-lg-4 col-sm-push-3 col-lg-push-4">
            <div class="box">
                <h1>Rejestracja</h1>
                <form (ngSubmit)="register()">
                    <div class="form-group">
                        <label for="login">Login</label>
                        <input type="text" class="form-control" id="login" name="login" [(ngModel)]="model.login" required>
                    </div>
                    <div class="form-group">
                        <label for="firstName">Imię</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="model.firstName" required>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Nazwisko</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="model.lastName" required>
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="text" class="form-control" id="email" name="email" [(ngModel)]="model.email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Hasło</label>
                        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="model.password" required>
                    </div>
                    <div class="form-group">
                        <label for="rePassword">Powtórz hasło</label>
                        <input type="password" class="form-control" id="rePassword" name="rePassword" [(ngModel)]="model.rePassword" required>
                    </div>
                    
                    <a class="btn btn-default pull-left" routerLink="/">Powrót</a>
                    <button type="submit" class="btn btn-primary pull-right">Zarejestruj</button>
                    <div class="clearboth"></div>          
                </form>
            </div>
        </div>
    </div>
</div>