<div class="row flashcards">
    <div class="col-xs-12">
        <h1 class="page-title">Fiszki</h1>
    </div>

    <!-- formularz z parametrami gry -->
    <div *ngIf="!model && !stats" class="col-xs-12 col-md-6 col-md-push-3">
        <h3>Parametry</h3>
        <form (ngSubmit)="startGame()">
            <div class="form-group">
                <label for="dictionaryId">Słownik:</label>
                <select [(ngModel)]="parameters.dictionaryId" required name="dictionaryId" class="form-control" id="dictionaryId" placeholder="wybierz słownik">
                    <option *ngFor="let dictionary of dictionaries" [value]="dictionary.id">
                        {{dictionary.name}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="maxNumberOfQuestions">Maksymalna liczba pytań:</label>
                <input [(ngModel)]="parameters.maxNumberOfQuestions" required name="maxNumberOfQuestions" min="3" type="number" class="form-control"
                    id="maxNumberOfQuestions" placeholder="liczba pytań">
            </div>
            <div class="right">
                <button type="submit" class="btn btn-primary">Rozpocznij grę</button>
            </div>
        </form>
    </div>
    <!-- koniec formularza -->

    <!-- główna gra -->
    <div *ngIf="model && !stats" class="game-area col-xs-12 col-md-8 col-md-push-2">

        <div class="row header-info">
            <div class="col-xs-6 left">
                <div class="timer">Czas: {{diffTime}}s</div>
            </div>
            <div class="col-xs-6 right">
                <div class="counter">Pytanie {{questionIndex}} z {{questionsCount}}</div>
            </div>
        </div>

        <div class="flipper {{answerClass}}" [@flipState]="flip">
            <div class="front">
                <div class="word"s>{{model.translation.firstLangWord}}</div>
            </div>

            <div class="back">
                <div class="word" *ngIf="isChecked()">{{model.translation.firstLangWord}} - {{model.translation.secondLangWord}}</div>
            </div>

        </div>

        <div class="answerInput">
            <form class="form-group right">
                <input type="text" [(ngModel)]="answerValue" placeholder="Twoja odpowiedź" name="answerInput"  class="form-control" required autofocus>
                <input type="button" [disabled]="isChecked()" class="btn btn-primary" value="Sprawdź" id="answerButton" (click)='confirmAnswer()'>
            </form>
        </div>

        <div class="nav" *ngIf="showNav">
            <div class="pull-left left">
                <button *ngIf="speechSupport" type="button" tabIndex="-1" class="btn btn-default" (click)="ttsPlay()"><i class="fa fa-volume-up" aria-hidden="true"></i> przeczytaj</button>
                <span *ngIf="!speechSupport">Twoja przeglądarka nie wspiera wymawiania słówek</span>
            </div>
            <button *ngIf="isNextQuestion()" type="button" class="btn btn-primary right-margin" (click)="nextQuestion()">Następne pytanie</button>
            <button typse="button" class="btn btn-primary right-margin" (click)="endSession(true)">Zakończ sesję</button>
        </div>

    </div>
    <!-- koniec gry -->

    <!-- podsumowanie gry -->
    <div *ngIf="!model && stats" class="game-stats col-xs-12 col-md-10 col-md-push-1">
        <h3>Podsumowanie sesji</h3>
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-push-2">
                <canvas baseChart [data]="stats.data" [labels]="stats.labels" [colors]="chartColors" chartType="pie"></canvas>
            </div>
        </div>
    </div>
    <!-- koniec gry -->
</div>