@import "src/style/common";

.wrap {
    background: rgba(221, 221, 221, .9);
    font-size: 18px;
    // margin: 0 0 $half_margin;
    margin: 0 0 2px; // zgodnie z zaleceniami p. Mazur

    & > div {
        font-size: 18px;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    &:last-child {
        margin: 0;
    }

    &:hover,
    &.active {
        background: darken($menu_hover_dictionaries, 5%);
        text-shadow: 0 0 1px $shadow;
        text-decoration: none;
        color: #fff;
    }
}

.common_col {
    font-size: 20px;
    padding: $half_margin;
    margin-top: $margin;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 1px #6a6b6b;
    border-radius: 3px;
}

.details {
    div {
        font-size: 18px;
        margin-bottom: 4px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.exchange-nav {
    label, button {
        &:focus,
        &.active,
        &.active:focus {
            outline: none;
        }
    }
    .link {
        margin: 0 0 $half_margin 0;
        outline: none;
    }

    h3 {
        margin: 0;
    }

    .exchange-panel {
        button, label {
            display: block;
            text-align: center;
            font-size: 18px;
            width: 100%;
            padding: $half_margin;
        }
    }
}

#uploadSpace h3 {
    margin: 0;
}

.nav-dictionary,
.nav-dictionary-public {
     @media (max-width: 768px) { li { margin: $half_margin 0; } }
}

.nav-dictionary {
    li {
        padding: 0 $half_margin 0 0;

        &:last-child {
            padding-right: 0;
        }

        @media (max-width: 768px) {
            padding: 0;
        }
    }
    button, input, label {
        display: block;
        width: 100%;
    }
}