<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="box-game"><i class="fa fa-male" aria-hidden="true"></i> Wisielec</div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="box-game"><i class="fa fa-clone" aria-hidden="true"></i> Memo</div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="box-game"><i class="fa fa-check" aria-hidden="true"></i> Quiz</div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="box-game"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Fiszki</div>
    </div>
</div>