/** style dla strony głównej panelu gier **/
@import "common";

.box-game {
    text-align: center;
    font-size: 50px;
    margin: $margin 0;

    a {
        display: inline-block;
        color: $text_color;
        text-decoration: none;
        transition: scale .3s, transform .3s, color .3s;
        
        i {
            display: block;
            font-size: 100px;
        }

        &:hover {
            text-decoration: none;
            color: lighten($menu_hover_games, 10%);
            transform: scale(1.2) rotate(5deg);
        }
    }
}