.content {
    background: #000;
    color: #fff;

    h1, h2, h3 {
        color: #f00;
        text-align: center;
    }

    p {
        font-size: 20px;
        margin: 100px;
        background: #333;
        color: #fff;
    }
}