$margin: 30px;
$half-margin: $margin / 2;
$shadow: #222;
$text_color: #333;
    
$menu_hover_board: #c16126;
$menu_hover_dictionaries: #a5294d;
$menu_hover_games: #146485;
$menu_hover_statistics: #7fa339;
$menu_hover_logout: #688691;

$home_header_background: #3f75c7;
$home_title_color: #fff;
$home_title_shadow: #555;
$home_header_shadow: $shadow;