<div class="col-xs-12 col-md-4">
    <!-- tutaj będzie lista -->

    <tabset [justified]="true">
        <tab heading="Moje">
            <div class="has-error">
                <div class="form-group">
                    <input type="text" class="form-control" id="queryString" placeholder="szukaj..." name="queryString" [(value)]="queryString"
                        (keyup)="filterList($event)">
                </div>
            </div>
            <div *ngIf="!dictionaries || dictionaries.length == 0">
                <p>nie znaleziono słowników</p>
            </div>
            <div class="list">
                <div *ngFor="let dictionary of dictionaries">
                    <a (click)="dictionaryId=[dictionary.id]" [routerLink]="[dictionary.id]" routerLinkActive="active">{{dictionary.name}}</a>
                </div>
            </div>

            <div class="buttons row">
                <div class="col-xs-4">
                    <a routerLink="/user/dictionaries/add/0" type="button" class="btn btn-default">Dodaj</a>
                </div>
                <div class="col-xs-4">
                    <a routerLink="/user/dictionaries/add/{{dictionaryId}}" type="button" class="btn btn-default">Edytuj</a>
                </div>
                <div class="col-xs-4">
                    <a type="button" (click)="deleteDictionary(dictionaryId)"class="btn btn-default">Usuń</a>
                </div>
            </div>
        </tab>

        <tab heading="Publiczne">
                  <div class="has-error">
                <div class="form-group">
                    <input type="text" class="form-control" id="queryString" placeholder="szukaj..." name="queryString" [(value)]="queryString"
                        (keyup)="filterListPublic($event)">
                </div>
            </div>
            <div *ngIf="!dictionariesPublic || dictionariesPublic.length == 0">
                <p>nie znaleziono słowników</p>
            </div>
            <div class="list">
                <div *ngFor="let dictionary of dictionariesPublic">
                    <a [routerLink]="[dictionary.id]" routerLinkActive="active">{{dictionary.name}}</a>
                </div>
            </div>

            <div class="buttons row">
                <div class="col-xs-6">
                    <a type="button" class="btn btn-default">Przypnij</a>
                </div>
                <div class="col-xs-6">
                    <a type="button" class="btn btn-default">Kopiuj</a>
                </div>
            </div>
        </tab>
    </tabset>
</div>

<div class="col-xs-12 col-md-8">
    <router-outlet></router-outlet>
</div>