<div class="row">
    <h1 class="page-title">Gry</h1>

    <div class="col-xs-12 col-md-6">
        <div class="box-game">
            <a [routerLink]="getGameUrl('hangman')" routerLinkActive="active">
                <i class="fa fa-male" aria-hidden="true"></i> Wisielec
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="box-game">
            <a [routerLink]="getGameUrl('memo')" routerLinkActive="active">
                <i class="fa fa-clone" aria-hidden="true"></i> Memo
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="box-game">
            <a [routerLink]="getGameUrl('quiz')" routerLinkActive="active">
                <i class="fa fa-check" aria-hidden="true"></i> Quiz
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="box-game">
            <a [routerLink]="getGameUrl('flashcards')" routerLinkActive="active">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Fiszki
            </a>
        </div>
    </div>
</div>