<h1 class="page-title">Tablica</h1>

<div class="sep-m"></div>

<div class="row" *ngIf="dailyStatistics">
    <div class="col-xs-12">
        <h2>Dzisiejsze statystyki</h2>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="small-tile background-1">
            <h3>Liczba gier</h3>
            <h4>{{dailyStatistics.gamesCount}}</h4>
            <span>ze wszystkich rodzai</span>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="small-tile background-2">
            <h3>Poprawność</h3>
            <h4>{{dailyStatistics.answersRate}}%</h4>
            <span>we wszystkich grach</span>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="small-tile background-3">
            <h3>Średni czas</h3>
            <h4>{{dailyStatistics.averageTime}}</h4>
            <span>na odpowiedź [s]</span>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="small-tile background-4">
            <h3>Łączny czas</h3>
            <h4>{{dailyStatistics.totalTime}}</h4>
            <span>wszystkich odpowiedzi [s]</span>
        </div>
    </div>
</div>

<div class="sep-2m"></div>

<div class="row">
    <div class="col-xs-12 col-md-5">
        <h2>Ostatnia sesja</h2>
        <div *ngIf="lastSessionStatistics">
            <canvas baseChart
                    [data]="lastSessionStatistics.data"
                    [labels]="lastSessionStatistics.labels"
                    [colors]="pieChartColors"
                    chartType="doughnut"></canvas>
        </div>
    </div>

    <div class="col-xs-12 col-md-5 col-md-push-2">
        <h2>Popularność gier</h2>
        <div *ngIf="gamesRankStatistics">
            <canvas baseChart
                    [data]="gamesRankStatistics.data"
                    [labels]="gamesRankStatistics.labels"
                    [colors]="pieChartColors"
                    chartType="doughnut"></canvas>
        </div>
    </div>
</div>

<div class="sep-2m"></div>

<div class="row">
    <div class="col-xs-12">
        <h2>Skuteczność odpowiedzi w ostatnich 7 dniach</h2>
        <div *ngIf="periodStatistics">
            <canvas baseChart
                [datasets]="periodStatistics.data"
                [labels]="periodStatistics.labels"
                [colors]="barChartColors"
                chartType="bar">
            </canvas>
        </div>
    </div>
</div>

<div class="sep-2m"></div>

<div class="row">
    <div class="col-xs-12">
        <h2>Szybkość odpowiedzi w ostatnich 7 dniach</h2>
        <div *ngIf="periodTimeStatistics">
            <canvas baseChart
                [datasets]="periodTimeStatistics.data"
                [labels]="periodTimeStatistics.labels"
                [colors]="barChartColors"
                chartType="bar">
            </canvas>
        </div>
    </div>
</div>